{% extends 'base.html' %}
{% load staticfiles %}



{% block head %}
    <title>AdminLTE 3 | Dashboard</title>
{% endblock %}



    <!-- Main content -->
{% block content %}

<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        {% for nodeWithColor in nodesWithColors %}
        <div class="col-lg-3 col-6">
        <!-- small box -->
            <div class="small-box {{ nodeWithColor.color }}">
              <div class="inner">
                <h3>NID: {{ nodeWithColor.node.device_id }}</h3>
                <p>Today Revenue:{{ nodeWithColor.node.today_revenue}}</p>
                <p>Summary: {{ nodeWithColor.node.summary_revenue}}</p>
                <p>Location: {{ nodeWithColor.node.location}}</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="{% url 'user_manage' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
        <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <section class="col-lg-6 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
          <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-chart-pie mr-1"></i>
                  Sales
                </h3>
                <div class="card-tools">
                  <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                      <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
                    </li>
                  </ul>
                </div>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content p-0">
                  <!-- Morris chart - Sales -->
                  <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 400px">
                      <div id="revenue_plot" height="400" style="height: 400px;"></div>
{#                      <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas>#}
                   </div>

                  <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 400px;">
                      <div id="node_pie" height="400" style="height: 400px;"></div>
{#                    <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>#}
                  </div>
                </div>
              </div><!-- /.card-body -->
            </div>

        <!-- /.card -->

      </section>
      <!-- /.Left col -->
      <!-- right col (We are only adding the ID to make the widgets sortable)-->
      <section class="col-lg-6 connectedSortable">
        <!-- Map card -->
        <div class="card bg-gradient-primary">
          <div class="card-header border-0">
            <h3 class="card-title">
              <i class="fas fa-map-marker-alt mr-1"></i>
              Visitors
            </h3>
            <!-- card tools -->
            <div class="card-tools">
              <button type="button"
                      class="btn btn-primary btn-sm daterange"
                      data-toggle="tooltip"
                      title="Date range">
                <i class="far fa-calendar-alt"></i>
              </button>
              <button type="button"
                      class="btn btn-primary btn-sm"
                      data-card-widget="collapse"
                      data-toggle="tooltip"
                      title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
            <!-- /.card-tools -->
          </div>
          <div class="card-body">
            <div id="world-map" style="height: 250px; width: 100%;"></div>
          </div>
          <!-- /.card-body-->
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-4 text-center">
                <div id="sparkline-1"></div>
                <div class="text-white">Visitors</div>
              </div>
              <!-- ./col -->
              <div class="col-4 text-center">
                <div id="sparkline-2"></div>
                <div class="text-white">Online</div>
              </div>
              <!-- ./col -->
              <div class="col-4 text-center">
                <div id="sparkline-3"></div>
                <div class="text-white">Sales</div>
              </div>
              <!-- ./col -->
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.card -->
      </section>
      <!-- right col -->
    </div>

</div><!-- /.container-fluid -->

    <!-- /.content -->
{% endblock %}

{% block script %}
    <script src="{% static 'adminlte/dist/js/pages/dashboard.js' %}"></script>
    <script src="{% static 'js/highcharts.js' %}"></script>

<script language="JavaScript">
$(document).ready(function() {
   var chart = {
      type: 'areaspline'
   };
   var title = {
      text: 'Revenue'
   };
   var subtitle = {
      style: {
         position: 'absolute',
         right: '0px',
         bottom: '10px'
      }
   };
   var legend = {
      layout: 'vertical',
      align: 'left',
      verticalAlign: 'top',
      x: 60,
      y: 20,
      floating: true,
      borderWidth: 1,
      backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
   };
   var xAxis = {
      categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'
              ,'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
   };
   var yAxis = {
      title: {
         text: 'Value'
      }
   };
   var tooltip = {
       shared: true,
       valueSuffix: ' units'
   };
   var credits = {
       enabled: false
   };
   var plotOptions = {
      areaspline: {
         fillOpacity: 0.5
      }
   };
   var series= [
       {% for node, data in block_data.items %}
           {
               name: "{{ node }}",
               data: {{ data }}
           },
       {% endfor %}
   ];

   var json = {};
   json.chart = chart;
   json.title = title;
   json.subtitle = subtitle;
   json.xAxis = xAxis;
   json.yAxis = yAxis;
   json.legend = legend;
   json.plotOptions = plotOptions;
   json.credits = credits;
   json.series = series;
   $('#revenue_plot').highcharts(json);


   var chart1 = {
       plotBackgroundColor: null,
       plotBorderWidth: null,
       plotShadow: false
   };
   var title1 = {
      text: 'Revenue Pie'
   };
   var tooltip1 = {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
   };
   var plotOptions1 = {
      pie: {
         allowPointSelect: true,
         cursor: 'pointer',
         dataLabels: {
            enabled: true,
            format: '<b>{point.name}%</b>: {point.percentage:.1f} %',
            style: {
               color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
            }
         }
      }
   };
   var series1= [{
      type: 'pie',
      name: 'Node pie',
      data: [
          {% for node, data in summary_data.items %}
              {% if node == "SH003" %}
                {
                    name: '{{node}}',
                    y: {{ data }},
                    sliced: true,
                    selected: true
                },
              {% else %}
                ["{{ node }}", {{ data }}],
              {% endif %}
          {% endfor %}
      ]
   }];
   // Radialize the colors
   Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
      return {
         radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
         stops: [
            [0, color],
            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
         ]
      };
   });

   var json1 = {};
   json1.chart = chart1;
   json1.title = title1;
   json1.tooltip = tooltip1;
   json1.series = series1;
   json1.plotOptions = plotOptions1;
   $('#node_pie').highcharts(json1);

});
</script>
{% endblock %}