{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
  <title>users</title>
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Orders</h3>
                    </div>
                    <div class="card-body">
                        <div style="float:left;">
                        <p>Time overview</p>
                        <table id="source" class="table table-bordered table-striped">
                            <tr>
                                <th>Create time</th>
                                <td>{{ order.create_at }}</td>
                            </tr>
                            <tr>
                                <th>Start time</th>
                                <td>{{ order.start_time }}</td>
                            </tr>
                            <tr>
                                <th>End time</th>
                                <td>{{ order.end_time }}</td>
                            </tr>
                        </table></div>
                        <div style="float:left;">
                        <p>Resource Table</p>
                        <table id="source" class="table table-bordered table-striped">
                            <tr>
                                <th><strong>name</strong></th>
                                <th><strong>count</strong></th>
                                <th><strong>vcpu</strong></th>
                                <th><strong>ram</strong></th>
                            </tr>
                            <tr>
                                <th><strong>vswirch</strong></th>
                                <td>{{ vswirch_count }}</td>
                                <td>{{ vswirch_vcpu }}</td>
                                <td>{{ vswirch_ram }}</td>
                            </tr>
                            <tr>
                                <th><strong>rounting_agent</strong></th>
                                <td>{{ rounting_agent_count }}</td>
                                <td>{{ rounting_agent_vcpu }}</td>
                                <td>{{ rounting_agent_ram }}</td>
                            </tr>
                            <tr>
                                <th><strong>data-plane-link</strong></th>
                                <td>{{ data_plane_link_count }}</td>
                                <td>{{ data_plane_link_vcpu }}</td>
                                <td>{{ data_plane_link_ram }}</td>
                            </tr>
                            <tr>
                                <th><strong>key-value-database</strong></th>
                                <td>{{ key_value_database_rount }}</td>
                                <td>{{ key_value_database_vcpu }}</td>
                                <td>{{ key_value_database_ram }}</td>
                            </tr>
                            <tr>
                                <th><strong>common-service-adp</strong></th>
                                <td>{{ common_service_adp_count }}</td>
                                <td>{{ common_service_adp_vcpu }}</td>
                                <td>{{ common_service_adp_ram }}</td>
                            </tr>
                        </table>
                        </div>
                        <div style="float:right;">
                        <p>Resource overview</p>
                        <table id="source" class="table table-bordered table-striped">
                            <tr>
                                <th>vcpu per network</th>
                                <td>{{ vcpu_per_network }}</td>
                            </tr>
                            <tr>
                                <th>ram_per_network</th>
                                <td>{{ ram_per_network }}</td>
                            </tr>
                        </table></div>
                        <div style="float:right;">
                        <p>Price</p>
                        <table id="source" class=" table table-bordered table-striped">
                            <tr>
                                <th>hours</th>
                                <td>{{ hours }}</td>
                            </tr>
                            <tr>
                                <th>price per hour</th>
                                <td>{{ price_per_hour }}</td>
                            </tr>
                            <tr>
                                <th>total price</th>
                                <td>{{ price }}</td>
                            </tr>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if feedback_message %}
        <div class="alert alert-warning">
            <h>Feedback Message</h>
            <p>{{ feedback_message }}</p>
        </div>
    {% endif %}
{% endblock %}


{% block script %}
    <!-- DataTables -->
    <script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

{% endblock %}
