{% extends 'base.html' %}
{% load static %}
{% block content %}

    <form action="{% url 'buy' %}" method="post">
        <div class="row" style="width:95%;height:auto;">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Choose</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group col-md-6 float-left">
                            <label for="inputName">slicing name</label>
                            <input name="product_name" type="text" id="inputName" value="{{ product.name }}" class="form-control">
                        </div>
                        <div class="form-group col-md-6 float-right">
                            <img src="{% static product.image_name %}" alt="Product Image" style="width:100%;height:auto;">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputName">users number</label>
                            <input id="user_number" name="user_number" type="range" min="0" max="100" value="0" class="form-control" oninput="change('user_number')" onchange="change('user_number')">
                            <input id="user_number_show" type="number" value="0" class="form-control col-2">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputName">reliability</label><br>
                            <input type="radio" name="reliability" value="99.99%" class="radio col-2">99.99%
                            <input type="radio" name="reliability" value="99.999%" class="radio col-2">99.999%
                            <input type="radio" name="reliability" value="99.9999%" class="radio col-2">99.9999%
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputName">share level</label><br>
                            <input type="radio" name="share" value="shared" class="radio col-2">shared
                            <input type="radio" name="share" value="non-shared" class="radio col-2">non-shared
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputName">latency(ms)</label>
                            <input id="latency" name="latency" type="range" min="0" max="100" value="0" class="form-control" oninput="change('latency')" onchange="change('latency')">
                            <input id="latency_show" type="number" value="0" class="form-control col-2">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputName">bandwidth down(Mbps)</label>
                            <input id="bandwidth_down" name="bandwidth_down" type="range" min="0" max="1000" value="0" class="form-control" oninput="change('bandwidth_down')" onchange="change('bandwidth_down')">
                            <input id="bandwidth_down_show" type="number" value="0" class="form-control col-2">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputName">bandwidth up(Mbps)</label>
                            <input id="bandwidth_up" name="bandwidth_up" type="range" min="0" max="1000" value="0" class="form-control" oninput="change('bandwidth_up')" onchange="change('bandwidth_up')">
                            <input id="bandwidth_up_show" type="number" value="0" class="form-control col-2">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputName">capacity down(GB)</label>
                            <input id="capacity_down" name="capacity_down" type="range" min="0" max="200" value="0" class="form-control" oninput="change('capacity_down')" onchange="change('capacity_down')">
                            <input id="capacity_down_show" type="number" value="0" class="form-control col-2">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputName">capacity up(GB)</label>
                            <input id="capacity_up" name="capacity_up" type="range" min="0" max="200" value="0" class="form-control" oninput="change('capacity_up')" onchange="change('capacity_up')">
                            <input id="capacity_up_show" type="number" value="0" class="form-control col-2">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputName">Start time</label>
                            <input id="start_time" name="start_time" type="datetime-local" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputName">End time</label>
                            <input id="end_time" name="start_time" type="datetime-local" class="form-control">
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="float:left">
                                <a href="{% url 'mall' %}" class="btn btn-secondary">Cancel</a>
                                <input type="submit" value="Buy" class="btn btn-success float-right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
<script type='text/javascript'>
    function change(id) {
        var num = document.getElementById(id);
        var location = document.getElementById(id+"_show");
        location.value = num.value;
    }
</script>
{% endblock %}