{% extends 'base.html' %}
{% load static %}
{% block content %}

    <p>Products</p>
    <table class="table table-bordered" style="width:95%;height:auto;">
        <tr>
            {% for crop in crops %}
            <td width="200px" height="200px">
                <div>
                    <img src="{% static crop.image_name %}" alt="Product Image" style="width:400px;height:260px;">
                    <div><p>{{ crop.name }}</p></div>
                    <div>
                        <form method="get" action="{% url 'product_detail' %}">
                            <input type="hidden" name="product_name" value="{{ crop.name }}">
                            <input type="submit" value="Detail" class="btn btn-sm btn-info">
                        </form>
                    </div>
                </div>
            </td>
            {% endfor %}
        </tr>
    </table>

{% endblock %}