{% extends 'base.html' %}
{% load staticfiles %}

    <!-- Main content -->
{% block content %}
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">General</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputName">Device ID</label>
                <input name="device_id" type="text" id="inputName" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputName">Location</label>
                <input name="location" type="text" id="inputName" class="form-control">
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="{% url 'create_new_node' %}" class="btn btn-secondary">Cancel</a>
          <input type="submit" value="Create new node" class="btn btn-success float-right">
        </div>
      </div>
{% endblock %}


