{% extends 'base.html' %}
{% load static %}
{% block content %}
    <head>
        <meta charset="utf-8"><link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            /* css 代码  */
        </style>
        <script src="https://code.highcharts.com.cn/jquery/jquery-1.8.3.min.js"></script>
        <script src="https://cdn.highcharts.com.cn/highstock/highstock.js"></script>
        <script src="https://cdn.highcharts.com.cn/highcharts/modules/exporting.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    </head>
    <form action="#" method="post">
        <div class="row" style="width:95%;height:auto;">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Parameter</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputName">product: {{ crop.name }}</label>
                        </div>
                        <div id="humidity_container" style="min-width:400px;height:400px"></div>
                        <div id="temperature_container" style="min-width:400px;height:400px"></div>
                        <div class="row">
                            <div class="col-md-12" style="float:right">
                                <a href="{% url 'agriculture' %}" class="btn btn-secondary">Cancel</a>
                                <input type="submit" value="Buy" class="btn btn-success float-right" hidden>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
<script type='text/javascript'>
    function change(id) {
        var num = document.getElementById(id);
        var location = document.getElementById(id+"_show");
        location.value = num.value;
    }
    Highcharts.setOptions({
		global : {
				useUTC : false
		}
});
// Create the chart
    var interval_time = 100;
    var temperature_target_value = {{ crop.temperature }};
    var temperature_delta = 5;
    Highcharts.stockChart('temperature_container', {
        chart : {
            events : {
                load : function () {
                    // set up the updating of the chart each second
                    var series = this.series[0];
                    setInterval(function () {
                        var x = (new Date()).getTime(), // current time
                            y = Math.round(Math.random()*25);
                        series.addPoint([x, y], true, true);
                    }, interval_time);
                    var target_series = this.series[1];
                    setInterval(function () {
                        var x = (new Date()).getTime(),
                            y = temperature_target_value;
                        target_series.addPoint([x, y], true, true);
                    }, interval_time);
                    var target_series2 = this.series[2];
                    setInterval(function () {
                        var x = (new Date()).getTime(),
                            y = temperature_target_value-temperature_delta;
                        target_series2.addPoint([x, y], true, true);
                    }, interval_time);
                }
            }
		},
		rangeSelector: {
            buttons: [{
                count: 1,
                type: 'minute',
                text: '1M'
            }, {
                count: 5,
                type: 'minute',
                text: '5M'
            }, {
                type: 'all',
                text: 'All'
            }],
            inputEnabled: false,
            selected: 0
		},
		title : {
            text : 'Temperature Data'
		},
		tooltip: {
            split: false
		},
		exporting: {
            enabled: false
		},
		series : [{
            name : '实时数据',
            data : (function () {
                // generate an array of random data
                var data = [], time = (new Date()).getTime(), i;
                for (i = -999; i <= 0; i += 1) {
                    data.push([
                        time + i * interval_time,
                        Math.round(Math.random()*25)
                    ]);
                }
                return data;
            }())
		}, {
            name: "温度区间上限",
            data : (function () {
                // generate an array of random data
                var data = [], time = (new Date()).getTime(), i;
                for (i = -999; i <= 0; i += 1) {
                    data.push([
                        time + i * interval_time,
                        temperature_target_value
                    ]);
                }
                return data;
            }()),
            color: "red"
        }, {
            name: "温度区间下限",
            data : (function () {
                // generate an array of random data
                var data = [], time = (new Date()).getTime(), i;
                for (i = -999; i <= 0; i += 1) {
                    data.push([
                        time + i * interval_time,
                        temperature_target_value-temperature_delta
                    ]);
                }
                return data;
            }()),
            color: "red",
            dashStyle: 'longdash'
        }
        ]
    });

    var humidity_target_value = {{ crop.humidity }};
    var humidity_delta = 5;
    Highcharts.stockChart('humidity_container', {
        chart : {
            events : {
                load : function () {
                    // set up the updating of the chart each second
                    var series = this.series[0];
                    setInterval(function () {
                        var x = (new Date()).getTime(), // current time
                            y = Math.round(Math.random() * 100);
                        series.addPoint([x, y], true, true);
                    }, interval_time);
                    var target_series = this.series[1];
                    setInterval(function () {
                        var x = (new Date()).getTime(),
                            y = humidity_target_value;
                        target_series.addPoint([x, y], true, true);
                    }, interval_time);
                    var target_series2 = this.series[2];
                    setInterval(function () {
                        var x = (new Date()).getTime(),
                            y = humidity_target_value-humidity_delta;
                        target_series2.addPoint([x, y], true, true);
                    }, interval_time);
                }
            }
		},
		rangeSelector: {
            buttons: [{
                count: 1,
                type: 'minute',
                text: '1M'
            }, {
                count: 5,
                type: 'minute',
                text: '5M'
            }, {
                type: 'all',
                text: 'All'
            }],
            inputEnabled: false,
            selected: 0
		},
		title : {
            text : 'Humidity Data'
		},
		tooltip: {
            split: false
		},
		exporting: {
            enabled: false
		},
		series : [{
            name : '实时数据',
            data : (function () {
                // generate an array of random data
                var data = [], time = (new Date()).getTime(), i;
                for (i = -999; i <= 0; i += 1) {
                    data.push([
                        time + i * interval_time,
                        Math.round(Math.random() * 100)
                    ]);
                }
                return data;
            }())
		}, {
            name: "湿度区间上限",
            data : (function () {
                // generate an array of random data
                var data = [], time = (new Date()).getTime(), i;
                for (i = -999; i <= 0; i += 1) {
                    data.push([
                        time + i * interval_time,
                        humidity_target_value
                    ]);
                }
                return data;
            }()),
            color: "green"
        }, {
            name: "湿度区间下限",
            data: (function () {
                // generate an array of random data
                var data = [], time = (new Date()).getTime(), i;
                for (i = -999; i <= 0; i += 1) {
                    data.push([
                        time + i * interval_time,
                        humidity_target_value-humidity_delta
                    ]);
                }
                return data;
            }()),
            color: "green",
            dashStyle: 'longdash'
        }
        ]
    });
</script>
{% endblock %}